body {
   padding:0;
   margin:0;
}
.mainhead{
    color:#084b6f;
    text-align:center;
    padding-bottom:1em;
    padding-top:2.5em;
}
@media (max-width: 548px) {
    .mainhead{   
    padding-top:1em;
   }
    h5{
     font-size:1em;
    }
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding-left: 2.5em;
    margin-bottom: 0.625em;
}
#accordion .panel-heading{
    padding: 0;
}
#accordion .panel-title a{
    display: block;
    padding: 0.937em;
    background: #fff;
    font-size:0.6em;
    font-weight: bold;
    color: #056ca3;
    text-transform: uppercase;
    border: 0.15em solid #c6c9cc;
    border-left: none;
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: none;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a span{
    display: block;
    width: 2.5em;
    height: 110%;
    line-height: 4.25em;
    background:#c6c9cc;  
    font-size: 1.2em;
    color:#004085;
    text-align: center;
    position: absolute;
    top: -0.15em;
    left: -2.4em;
}
#accordion .panel-title a span:before,
#accordion .panel-title a span:after{
    content: "";
    border-top: 1.25em solid #fff;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    position: absolute;
    left: 0;
}
#accordion .panel-title a span:before{
    top: -0.11em;
}
#accordion .panel-title a span:after{
    border-top-color: #c6c9cc;
    bottom: -1.25em;
    z-index: 1;
}

#accordion .panel-body p{
    margin-bottom: 0;
}

.bullet ul {
  list-style:none;
  text-align:justify;
}
.bullet li{
    padding-bottom:0.5em;
    text-align: justify;
}
.panhead{
    padding-top:0.8em;
    padding-bottom:1em;
}